.element__like {
    background-color: #fff;
    background-image: url('../../../images/like-button_disabled.svg');
    background-size: auto;
    width: 22px;
    height: 19px;
    border: none;
    margin: 0;
    padding: 0;
}

.element__like_active {
    background-image: url('../../../images/like-button_active.svg');
}

.element__like:hover {
    cursor: pointer;
    opacity: .5;
}