.photo-popup__container {
    max-width: 75vw;
    max-height: 75vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}